*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 1rem;
    font-weight: 600;
    background: linear-gradient(to left, rgb(237,237,237),rgb(105, 105, 105));
}

.header-box{
    /* background-image: linear-gradient(to right, #033316, #099E44, #79b40b); */
    background-image: linear-gradient(to right, #a4152c, #fa6b82);
}

.brand-name{
    color: white;
    position: absolute;
    margin: -66px 94px;
    font-size: 2rem;
}

p.green{
    color: #76d10e;
    text-shadow: 2px 2px 4px #000000;
}

span.tomato{
    color: #fff;
}

p.signup-text {
    color: black;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.2r4;
    position: absolute;
    margin: -5px 0px 0px -30px;
}

p.signup-sub-txt {
    position: absolute;
    margin: 28px 0px 0px -31px;
    color: #757474;
    font-size: 15px;
}

.middle-signup-box {
    /* background: rgb(206, 206, 40); */
    height: 575px;
    width: 430px;
    margin: auto;
    margin-top: 50px;
    /* background: linear-gradient(to bottom, #ffa31a, #ffc369); */
    background: #fff;
    box-shadow: -20px 23px 15px 2px rgba(7, 7, 7, 0.18);
}

.login-user-img{
    position: absolute;
    height: 80px;
    width: 80px;
    margin: auto;
}

.signup-upper-content{
    padding: 2vw 4vw 4vw;
    background: #76d10e;
    /* background: #1cc7d0; */
    /* #1ae76c */
}

.middle-signup-box form{
    background: #fff;
}

.middle-signup-box form {
    background: #fff;
    margin: -2.5em 3em 1em;
    padding: 4em;
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    border-radius: 5px;
    height: 475px;
}

.mid-sub-text {
    margin: -27px 0;
}

img.login-user-logo {
    margin: -8px 0px 15px 103px;
}


.input {
    position: relative;
    margin: 20px auto;
    width: 100%;
}

.input input {
    width: 268px;
    padding: 13px 10px 13px 34px;
    display: block;
    border: none;
    border: 1px solid #76d10e;
    color: #000;
    box-sizing: border-box;
    font-size: 13px;
    outline: none;
    letter-spacing: 1px;
    background: #fff;
    -webkit-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    -moz-box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
    box-shadow: 2px 5px 16px 2px rgba(16, 16, 16, 0.18);
}

input.your-name {
    margin: 70px 0px 0px -32px;
}
img.usr-name-icon {
    height: 20px;
    width: 22px;
    margin: -33px 0 0 -23px;
    position: absolute;
}

input.email-field {
    margin: 0px 0px 0px -32px;
}
img.email-icon {
    height: 20px;
    width: 22px;
    margin: -31px 0 0 -24px;
    position: absolute;
}

input.password-field {
    margin: 0px 0px 0px -32px;
}
img.password-icon {
    height: 20px;
    width: 22px;
    position: absolute;
    margin: -36px 0 0 -24px;
}

input.cnfrm-password-field {
    margin: 0px 0px 0px -32px;
}
img.cnfrm-password-icon {
    height: 20px;
    width: 22px;
    position: absolute;
    margin: -36px 0 0 -24px;
}

button.signup-btn {
    position: relative;
    background-color: #76d10e;
    border: none;
    border-radius: 17px;
    text-align: center;
    width: 267px;
    height: 40px;
    color: #ffff;
    font-size: 17px;
    font-weight: bold;
    outline: none;
    /* left: 41.5%; */
    cursor: pointer;
    margin: 38px 0px 0px -31px;
    box-shadow: -1px -3px 4px rgba(68,68,68,0.6);
}

/* a.forgot-btn {
    position: absolute;
    color: #757474;
    font-size: 16px;
    display: inline-block;
    margin: 0.7em 9em 2em;
    letter-spacing: 1px;
    text-decoration: none;
} */


a.login-accnt {
    float: right;
    text-decoration: none;
    color: #fff;
    margin: -58px 41px 0 0;
    font-size: 1.26rem;
    text-shadow: 2px 2px 4px #000000;
}

label.checkbox {
    position: absolute;
    color: #757474;
    font-size: 14px;
    margin: -1px -10px;
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    height: 0;
    width: 0;
    opacity: 0;
}

/* Create a custom checkbox */
span.checkmark{
    position: absolute;
    height: 13.5px;
    width: 14px;
    background-color: rgb(202, 202, 202);
    margin: 3px -241px;
    cursor: pointer;
}

/* When the checkbox is checked, add a background color */
input[type="checkbox"]:checked ~.checkmark {
    background: #76d10e;
}

/* Show the checkmark when checked */
input[type="checkbox"]:checked ~.checkmark::after{
    display: block;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}


/* Style the checkmark/indicator */
.checkbox .checkmark::after{
    left: 4px;
    top: 0px;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}





















